body {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
    background-color: #DAF4C5; /*does not affect body - do not wanna overwrite with important - look up how to set body bg*/
    margin: 10px;
}