@import 'default-style';
// main styling //
.landmark_card {
    border: 2px solid black;
    margin: 5px;
    min-height: 220px;
    box-sizing: border-box;
}

.landmark_img {
    max-width: 200px;
    float: left;
    margin-right: 5px;
}

.landmark_card-text {
    margin-top: 20px;
}