@import 'default-style';
// main styling //
.col {
    border: 2px solid black;
    margin: 5px;
    min-height: 220px;
    box-sizing: border-box;
}

img {
    max-width: 200px;
    float: left;
    margin-right: 5px;
}

.col {
    p {
        margin-top: 20px;
    }
}